<section class="mt-5">
  <div class="container">
    <div class="row mb-4">
    <div class="col-sm-2">
      <img class="img-thumbnail" src="<%= @user.photo %>" alt="User" />
    </div>
    <div class="col-sm border">
      <h2 class="font-weight-bold display-2"><%= @user.name %></h2>
      <span class="float-right">Number of posts: <%= @user.posts.length %></span>
    </div>
  </div>
  <div class="row border d-block m-0">
    <h5 class="m-2">bio</h5>
    <p class="m-2"><%= @user.bio %></p>
  </div>
  <div class="row border d-block m-0 mt-3">
    <% @user.recent_posts.each do |post| %>
    <%= link_to user_post_path(user_id: @user.id, id: post.id) do %>
    <div class="border m-2">
      <h5 class="m-2"><%= post.title %> <span class="badge badge-secondary"><%= post.created_at %></span></h5>
      <p class="m-2"><%= post.text %></p>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
</section>
