<section class="mt-5">
  <div class="container">
    <%= render partial: "users/user-header", locals: {user: @user} %>
  <div class="row border d-block m-0 mt-3">
    <% @user.recent_posts.each do |post| %>
    <%= link_to user_post_path(user_id: @user.id, id: post.id) do %>
    <%= render partial: "post-preview", locals: {post: post} %>
  <div class="border m-2">
    <% if post.comments.length == 0 %>
      <span class="">No comments</span>
    <% else %>
      <% post.recent_comments.each do |comment| %>
        <p class="m-2 border-bottom"><%= comment.author.name %>: <%= comment.text %></p>
      <% end %>
      <% end %>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
</section>
