<section class="mt-5">
  <div class="container">
    <div class="row mb-4">
    <div class="col-sm-2">
      <img class="img-thumbnail" src="<%= @user.photo %>" alt="User" />
    </div>
    <div class="col-sm border">
      <h2 class="font-weight-bold display-2"><%= @user.name %></h2>
      <span class="float-right">Number of posts: <%= @user.posts.length %></span>
    </div>
  </div>
  <div class="row border d-block m-0 mt-3">
    <% @user.recent_posts.each do |post| %>
    <%= link_to user_post_path(user_id: @user.id, id: post.id) do %>
    <%= render partial: "post-preview", locals: {post: post} %>
  <div class="border m-2">
      <% post.recent_comments.each do |comment| %>
        <p class="m-2 border-bottom"><%= comment.author.name %>: <%= comment.text %></p>
      <% end %>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
</section>
