<section class="mt-5">
  <div class="container">
    <div class="row border d-block m-0 mt-3">
      <div class="border m-2 bg-light text-dark">
        <h5 class="m-2"><%= @post.title %> <span class="badge badge-secondary float-right"><%= @post.created_at %></span></h5>
        <p class="m-2"><%= @post.text %><span class="float-right">Comments: <%= @post.comments_counter || 0 %>,Likes: <%= @post.likes_counter || 0 %></span></p>
        <%= render partial: "like", locals: {like: @like} %>
      </div>
      <div class="border bg-light text-dark m-2">
        <% @post.comments.each do |comment| %>
          <p class="m-2 border-bottom"><%= comment.author.name %>: <%= comment.text %></p>
        <% end %>
      </div>
      <%= render partial: 'create-comment', locals: {comment: @comment} %>
    </div>
  </div>
</section>
